:root {
  --primary-color: #45b6fe;
  --dark-color: #0e2433;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Text Styles */

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.center-text {
  text-align: center;
}

/* Landing */
.landing {
  /* position: relative; */
  background: url(./img/LandingPagebg.jpg) no-repeat
    center center/cover;
  height: 100vh;
}

.landing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
  height: 90%;
  width: 80%;
  text-align: center;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: var(--light-color);
  color: var(--light-color);
  padding: 0.4rem 1.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-landing {
  background: transparent;
  border: solid var(--light-color);
  border-radius: 0.5rem;
}

/* Loading */
.loadScreen{
  margin-top: 30%;
}

.Spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* GetImages and TransferPage*/

.GetImages {
  display: flex;
  flex-direction: column;

  background: url(./img/GetImagesBg.jpg) no-repeat center center/cover;
  overflow: auto;
  flex-wrap: wrap;
}

.TransferPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(./img/TransferPageBg.jpg) no-repeat center center/cover;
  overflow: auto;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}

.tr-bt {
  align-self: center;
}
.GetImages button {
  flex-grow: 1;
  position: relative;
  width: 150px;
  height: 50px;
  align-self: center;
  background-color: var(--dark-color);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-left: 1rem;

  margin: 1rem;
  color: var(--primary-color);
}
/* Images Box and transfer image box*/
.images-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.drag-drop-box,
.transferimage {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: var(--light-color);
  font-family: Arial, sans-serif;
  padding: 15px;
  margin: 2%;
  border-radius: 1rem;
  height: 60%;
  width: auto;
  min-width: 350px;
  justify-content: center;
  align-items: center;
}

.drag-drop-box input {
  visibility: hidden;
  height: 0;
  width: 0;
}
.drag-drop-box label {
  cursor: pointer;
  color: black;
  font-weight: bold;
  flex-grow: 1;
}
.drag-drop-box img {
  flex-grow: 2;
  margin: 1rem;
}
.transfer-heading {
  flex-grow: 1;
}
.transferring-image {
  flex-grow: 2;
}

/* Animations */
@keyframes opacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* Applied animations */
.anim-text-op {
  animation-name: opacity;
  animation-duration: 2s;
}
